.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    padding: 1rem 10rem;
}

.content {
    flex: 1 1 0;
    min-height: 0;
    overflow-y: auto;
}

.spinner {
    margin: auto;
    width: 4rem;
    height: auto;
    aspect-ratio: 1;
    animation: spin .75s linear infinite;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

fieldset {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
}