<nav>
    <brand style="margin: .5rem 0;"></brand>
    <!--<div class="links">
        @for (link of links; track link.label) {
        <a class="nav-link" [routerLink]="link.path" routerLinkActive="active">
            <img [src]="'svg/' + link.path + '.svg'" />
            <span>{{link.label}}</span>
        </a>
        }
    </div>-->
    <div class="profile">
        <p class="desc">
            Domen<br />
            Dobravec
        </p>
        <img src="image/profile.jpg" />
    </div>
</nav>
<!-- TODO: Active -->